@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}



p, h3, h4, label {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: #0d0d73;

}

h2 {
   font-family: "Roboto", sans-serif;
   color: #323A70;
   font-size:24px;
   font-weight: 600;
}
span{
  color :#323A70;
  font-size: 14px;
  font-weight: 400; 
  font-family: "Roboto", sans-serif;

}

input, select {
  border: 1px solid #4a4747;
  color: #0d0d73;
  font-family: "Roboto", sans-serif;

}

/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */
/* 
body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */
